<div class="leaderboard-container">
    <h1>Leaderboard</h1>

    <div class="button-container">
        <button (click)="toggleForm()">
            {{ showForm ? 'Hide' : 'Add Player' }}
        </button>
        <button (click)="toggleSortOrder()" class="sort-button">
            Sort: {{ sortAscending ? '↑ Ascending' : '↓ Descending' }}
        </button>
    </div>

    <app-player-form
        *ngIf="showForm"
        (playerAdded)="onPlayerAdded($event)"
    ></app-player-form>

    <app-player-list
        [players]="players"
        (deletePlayer)="onPlayerDeleted($event)"
    ></app-player-list>
</div>